<!DOCTYPE html>
<html ng-app="congoApp">
  <head>
    <base href="/">
    <title>GroupHub</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script>
      window.congo.flashes = <%= raw(flashes_json) %>;
      window.congo.currentUser = <%= current_user ? raw(render_user(current_user).to_json) : 'null' %>;
    </script>
  </head>

  <body id="main" ng-class="{loading: loading}" ng-controller="MainController">
    <div id="wrapper" ng-class="isDrawerShown() ? 'toggled' : ''">
      <div id="sidebar-wrapper">
        <%= render partial: 'layouts/sidebar' %>
      </div>

      <div id="page-content-wrapper">
        <%= render partial: 'layouts/navbar' %>
        <%= render partial: 'layouts/alerts' %>

        <main>
          <%= yield %>

          <%= render partial: 'layouts/footer' %>
        </main>

        <div id="spinner-container">
          <div class="spinner"></div>
        </div>
      </div>
    </div>
  </body>
</html>

