<!DOCTYPE html>
<html ng-app="congoApp">
  <head>
    <base href="/">
    <title>GroupHub</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script>
      window.congo = {
        currentUser: <%= current_user ? raw(current_user.simple_hash.to_json) : 'null' %>
      }
    </script>
  </head>

  <body ng-controller="MainController">
    <header class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".congo-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/" class="navbar-brand">GroupHub</a>
        </div>

        <nav class="collapse navbar-collapse congo-navbar-collapse">
          <ul class="nav navbar-nav" ng-if="isSignedin() && accountSlug()">
            <li ng-if="hasRole('broker')">
              <a class="heading" ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/products">Products</a>
            </li>

            <li ng-if="hasRole('broker') || hasRole('customer')">
              <a ng-href="/accounts/{{accountSlug()}}/{{currentRole()}}/groups">Groups</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" ng-if="isSignedin()">
            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="envelope">Notifications</i>
                <span class="icon-label">99</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="">You have 4 messages</a>
                </li>
              </ul>
            </li>

            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="forms">To-Dos</i>
                <span class="icon-label">99</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="">You have 4 to-dos</a>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                {{firstName()}}
                <i class="caret"></i>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a class="heading" href="">Accounts</a>
                </li>

                <li ng-repeat="account in accounts()">
                  <a ng-href="/accounts/{{account.slug}}/{{account.role}}">
                    {{account.name}}
                    <span class="label label-default role">{{account.role}}</span>
                  </a>
                </li>

                <li class="divider" ng-if="accounts().length > 0"></li>

                <li>
                  <a href="/users/{{currentUserId()}}">My Profile</a>
                </li>

                <li>
                  <a href="" ng-click="signout()">Sign out</a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" ng-if="!isSignedin()">
            <li>
              <a href="/users/signin">Sign in</a>
            </li>

            <li>
              <a href="/users/new_manager">Sign up</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container">
      <div class="col-md-12">
        <div class="alerts">
          <div ng-repeat="flash in flashes">
            <div class="alert alert-{{flash.type}} fade in">
              <button class="close" data-dismiss="alert">×</button>
              {{flash.message}}
            </div>
          </div>
        </div>

        <%= yield %>
      </div>
    </main>

    <footer>
      &copy; 2014 GroupHub Inc.
    </footer>
  </body>
</html>
